<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <!-- 定义变量 -->
  <variable name="logDirectory" value="${basedir}/logs" />
  <variable name="logLayout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />

  <!-- 目标定义 -->
  <targets>
    <!-- 按控制器分类的日志文件 -->
    <target xsi:type="File"
            name="controllerFile"
            fileName="${logDirectory}/controllers/${logger}.log"
            layout="${logLayout}"
            archiveFileName="${logDirectory}/controllers/archives/${logger}.{#}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- 按服务分类的日志文件 -->
    <target xsi:type="File"
            name="serviceFile"
            fileName="${logDirectory}/services/${logger}.log"
            layout="${logLayout}"
            archiveFileName="${logDirectory}/services/archives/${logger}.{#}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- 通用日志文件 -->
    <target xsi:type="File"
            name="commonFile"
            fileName="${logDirectory}/common.log"
            layout="${logLayout}"
            archiveFileName="${logDirectory}/archives/common.{#}.log"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            maxArchiveFiles="10"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- 控制台输出 -->
    <target xsi:type="ColoredConsole"
            name="console"
            layout="${logLayout}" />
  </targets>

  <!-- 规则定义 -->
  <rules>
    <!-- 控制器日志规则 -->
    <logger name="TagPhotoAlbum.Server.Controllers.*" minlevel="Info" writeTo="controllerFile" final="true" />

    <!-- 服务日志规则 -->
    <logger name="TagPhotoAlbum.Server.Services.*" minlevel="Info" writeTo="serviceFile" final="true" />

    <!-- 其他日志 -->
    <logger name="*" minlevel="Info" writeTo="commonFile,console" />
  </rules>
</nlog>