<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<!-- 定义变量 -->
	<variable name="logDirectory" value="${basedir}/logs" />
	<variable name="logLayout" value="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
	<variable name="consoleLogLayout" value="[${level:uppercase=true}][${longdate}] ${message} ${exception:format=tostring}" />

	<!-- 目标定义 -->
	<targets>
		<!-- 按控制器分类的日志文件 -->
		<target xsi:type="File"
				name="controllerFile"
				fileName="${logDirectory}/controllers/${logger}.log"
				layout="${logLayout}"
				archiveFileName="${logDirectory}/controllers/archives/${logger}.{#}.log"
				archiveAboveSize="10485760"
				archiveNumbering="Sequence"
				maxArchiveFiles="10"
				concurrentWrites="true"
				keepFileOpen="false" />

		<!-- 按服务分类的日志文件 -->
		<target xsi:type="File"
				name="serviceFile"
				fileName="${logDirectory}/services/${logger}.log"
				layout="${logLayout}"
				archiveFileName="${logDirectory}/services/archives/${logger}.{#}.log"
				archiveAboveSize="10485760"
				archiveNumbering="Sequence"
				maxArchiveFiles="10"
				concurrentWrites="true"
				keepFileOpen="false" />

		<!-- 通用日志文件 -->
		<target xsi:type="File"
				name="commonFile"
				fileName="${logDirectory}/common.log"
				layout="${logLayout}"
				archiveFileName="${logDirectory}/archives/common.{#}.log"
				archiveAboveSize="10485760"
				archiveNumbering="Sequence"
				maxArchiveFiles="10"
				concurrentWrites="true"
				keepFileOpen="false" />

		<!-- 控制台输出 -->
		<target xsi:type="ColoredConsole"
				name="console"
				layout="${consoleLogLayout}">
			<highlight-word foregroundColor="Green" backgroundColor="Black" ignoreCase="true" regex="\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}\.\d{3,7}" />
			<highlight-word foregroundColor="Magenta" backgroundColor="Black" ignoreCase="true" regex="(?:https?|ftp):\/\/(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}|localhost|\d{1,3}(?:\.\d{1,3}){3})(?::\d{1,5})?(?:\/(?:[a-zA-Z0-9\-._~:\/?#\[\]@!$&amp;'()*+,;=%])*)*" />
			<highlight-word foregroundColor="Magenta" backgroundColor="Black" ignoreCase="true" regex="(?:[a-zA-Z]:[\\/]|[/])(?:[^&lt;&gt;:&quot;&quot;|?*\\]+[\\/])*[^&lt;&gt;:&quot;&quot;|?*\\]+" />
			<highlight-word foregroundColor="Cyan" backgroundColor="Black" ignoreCase="true" regex="INFO" />
			<highlight-word foregroundColor="Yellow" backgroundColor="Black" ignoreCase="true" regex="WARN" />
			<highlight-word foregroundColor="Red" backgroundColor="Black" ignoreCase="true" regex="ERROR" />
			<highlight-word foregroundColor="DarkRed" backgroundColor="Black" ignoreCase="true" regex="FATAL" />
		</target>
	</targets>

	<!-- 规则定义 -->
	<rules>
		<!-- 首先过滤掉EF和ASP.NET Core的详细日志 -->
		<logger name="Microsoft.EntityFrameworkCore.*" minlevel="Warn" writeTo="commonFile" final="true" />
		<logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Warn" writeTo="commonFile" final="true" />
		<logger name="Microsoft.EntityFrameworkCore.Query" minlevel="Warn" writeTo="commonFile" final="true" />
		<logger name="Microsoft.EntityFrameworkCore.Infrastructure" minlevel="Warn" writeTo="commonFile" final="true" />
		<logger name="Microsoft.AspNetCore.StaticFiles.*" minlevel="Warn" writeTo="commonFile" final="true" />
		<logger name="Microsoft.AspNetCore.Routing.*" minlevel="Warn" writeTo="commonFile" final="true" />
		<logger name="Microsoft.AspNetCore.Mvc.*" minlevel="Warn" writeTo="commonFile" final="true" />
		<logger name="Microsoft.AspNetCore.Hosting.*" minlevel="Warn" writeTo="commonFile" final="true" />
		<logger name="Microsoft.AspNetCore.HttpsPolicy.*" minlevel="Warn" writeTo="commonFile" final="true" />
		<logger name="Microsoft.AspNetCore.Cors.*" minlevel="Warn" writeTo="commonFile" final="true" />
		<logger name="Microsoft.AspNetCore.Cors.*" minlevel="Warn" writeTo="commonFile" final="true" />
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Warn" writeTo="console" final="true" />

		<!-- 控制器日志规则 -->
		<logger name="TagPhotoAlbum.Server.Controllers.*" minlevel="Info" writeTo="controllerFile,console" final="true" />

		<!-- 服务日志规则 -->
		<logger name="TagPhotoAlbum.Server.Services.*" minlevel="Info" writeTo="serviceFile,console" final="true" />

		<!-- Data层日志规则（包括SeedData） -->
		<logger name="TagPhotoAlbum.Server.Data.*" minlevel="Info" writeTo="commonFile,console" final="true" />

		<!-- Program类日志规则 -->
		<logger name="Program" minlevel="Info" writeTo="commonFile,console" final="true" />
		<logger name="SeedData" minlevel="Info" writeTo="commonFile,console" final="true" />

		<!-- 其他日志（不输出到控制台） -->
		<logger name="*" minlevel="Info" writeTo="commonFile" />
	</rules>
</nlog>